/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS
 * GLOBAL
 * TYPO
 * OBJECTS
 * PLUGINS
 * MEDIA-QUERIES
 */

/*------------------------------------*\
    $GLOBAL
\*------------------------------------*/
* {
	box-sizing: border-box;
}

html {
	min-height:100%;
	overflow-y:scroll;
	font:1em/1.5 Ubuntu,sans-serif;
	font-weight: 300;
	color: #232F3D;
	background-color: #E8EDEE;
}


a, .brand {
	padding: 2px;
	color: #A4332A;
}

a:hover {
	color: #E8EDEE;
	text-decoration: none;
	background-color: #A4332A;
}

strong, a, .brand {
	font-weight: 500;
}

img {
	margin: 1em;	
	border: 1px solid #232F3D;

}

header {
	width: 100%;
	padding: 0 1em;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #E8EDEE;
	background-color: rgba(232,236,237, 0.9);
	
}

section {
	width: 60em;
	margin: 2em auto 3em;
	text-align: center;
}

/*------------------------------------*\
    $TYPO
\*------------------------------------*/

h1 {
	font-size: 28px; 
	font-size: 1.75rem;
}

h2 {
	font-size: 24px;
	font-size: 1.5rem

}

h3 {
	font-size: 20px;
	font-size: 1.25rem
}


p, h3 {
	text-align: left;
	width: 65%;
	margin: 0 auto;
}

h3 {
	margin-bottom: 1.2em;
}
p {
	margin-bottom: 1.5em;
}

/*------------------------------------*\
    $OBJECTS
\*------------------------------------*/

.quien {
	margin-top: 9.5em;
}

.quien img {
	float: left;
	margin: 2em 2em 2em 5em;
	border: none;
}

.quien img:hover {
	background: transparent url('images/avatar-funny-c.png') no-repeat;
}


img[alt="Rubro Logo"] {
	border: none;
}


 /*------------------------------------*\
    $PLUGINS
\*------------------------------------*/

.fancybox:hover, .fancybox-nav:hover, .fancybox-item:hover {
	background-color: transparent;
}

/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/

@media screen and (max-width: 900px) {
	header {
		position: relative;
	}
	section {
		width: 100%;
	}
	.quien {
        margin-top: 2em;
    }
    p, h3 {
	text-align: left;
	width: 85%;
	margin: 0 auto;
	}
}

@media screen and (max-width: 560px) {
	.quien img {
		float: none;
		margin: 2em auto;
	}
	img[alt="Memorify.us"], img[alt="Rubro Logo"] {
		width: 260px;
		height: auto;
	}
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	section {
		width: 100%;
	}
}